:root {
  --accent-color: #2196f3;
  --titel-color: #212121;
  --text-color: #757575;
  --footer-color: rgba(255, 255, 255, 0.6);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  background-color: #fff;
  color: var(--text-color);
  font-family: 'Roboto', font-family;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

/* --header-- */

.conteiner {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.site-nav,
.nav {
  display: flex;
  align-items: center;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.contact-header {
  display: flex;
  padding-left: 0;
  margin-left: auto;
}

.contact-header .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-header li:first-child {
  margin-right: 50px;
}

/* logo */
.logo {
  font-family: 'Raleway', font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
}

.web {
  color: var(--accent-color);
}

.nav_link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titel-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav_link:hover {
  color: var(--accent-color);
}

.nav_link:focus {
  color: var(--accent-color);
}

.studio,
.portfolio {
  color: var(--accent-color);
}

.mail,
.tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mail:hover,
.tel:hover {
  color: var(--accent-color);
}

.mail:focus,
.tel:focus {
  color: var(--accent-color);
}

/* body */

.hero {
  background-color: #2f303a;
  height: 600px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  padding-top: 200px;
  margin-bottom: 30px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
  border: 0;
  min-width: 216px;
  height: 50px;
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}

.benefits-titel {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--titel-color);
}

.benefits-text {
  line-height: 1.71;
}

/* Чим ми займаємося */
.titel-section {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--titel-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--titel-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
}

.address {
  font-style: normal;
  line-height: 1.71;
  color: #fff;
}

.footer {
  background-color: #2f303a;
}

.footer-logo,
.adress-link {
  color: #fff;
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-tel:hover {
  color: var(--accent-color);
}

.footer-mail:focus,
.footer-tel:focus {
  color: var(--accent-color);
}

/* portfolio-- */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--titel-color);
  cursor: pointer;
}

.portfolio-btn:hover {
  color: #fff;
  background-color: var(--accent-color);
}

.portfolio-btn:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.all-btn {
  color: #fff;
  background-color: var(--accent-color);
}

.portfolio-titel {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-color);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
